* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Lato', sans-serif;
}


/* header */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: white;
}

button, select {
  cursor: pointer;
  width: 100px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
}

select {
  width: 150px;
}


/* main */


.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 30px);
  background-color: #7DFFD4;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 510px;
  height: 510px;
  background-color: #7DFFD4;
  margin-top: 50px;
}

.square {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid black;
}

.azure {
  background-color: #179369;
}

.bomb {
  background-color: #591a1a;
}



footer {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}